@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: 225 9% 9%;
    --foreground: 210 40% 98%;

    --card: 228 9% 11%;
    --card-foreground: 210 40% 98%;

    --popover: 228 9% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 100% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 228 6% 16%;
    --secondary-foreground: 210 40% 98%;

    --muted: 228 6% 16%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 228 6% 16%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;

    --border: 228 6% 16%;
    --input: 228 6% 16%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border antialiased;
  }
  html {
    @apply h-full;
  }
  body {
    @apply h-full bg-background text-foreground;
  }

  /* Scrollbar customizations */
  *::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }

  *::-webkit-scrollbar-track {
    @apply rounded bg-gray-900;
  }

  *::-webkit-scrollbar-track:hover {
    @apply bg-gray-800;
  }

  *::-webkit-scrollbar-track:active {
    @apply bg-gray-800;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-600;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }

  *::-webkit-scrollbar-thumb:active {
    @apply bg-gray-600;
  }

  body::-webkit-scrollbar {
    @apply hidden;
  }
}
